<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis notas</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/styles-notas_alum.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="header">
        <header>
            <a href="../views/index.html" class="logo"><img src="../img/TechMi x Guevara.png" alt=""></a>
            <ul>
                <li><a href="../views/cursos.html" class="btn">Carga de notas</a></li>
                <li><a href="#"><i class="fa-regular fa-bell"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i></a></li>
                <li><a href="../views/login.html"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </header>
        <section class="banner"></section>
        <script type="text/javascript">
            window.addEventListener("scroll", function () {
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY > 0);
            })
        </script>
    </div>
    <div class="tablas">
        <div class="alumno1" }>
            <main class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>Cursos</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1° año</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>2° año</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>3° año</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>4° año</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>5° año</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>6° año</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>7° año</td>
                            </tr>
                        </tbody>
                    </table>
            </main>
        </div>
    </div>
</body>

</html>