<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis notas</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/styles-notas.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <div class="header">
        <header>
            <a href="../views/index.html" class="logo"><img src="../img/TechMi x Guevara.png" alt=""></a>
            <ul>
                <li><a href="../views/mis_notas.html" class="btn">Mis notas</a></li>
                <li><a href="#"><i class="fa-regular fa-bell"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-gear"></i></a></li>
                <li><a href="../views/login.html"><i class="fa-solid fa-user"></i></a></li>
            </ul>
        </header>
        <section class="banner"></section>
        <script type="text/javascript">
            window.addEventListener("scroll", function () {
                var header = document.querySelector("header");
                header.classList.toggle("sticky", window.scrollY > 0);
            })
        </script>
    </div>
    <div class="alumno1">
        <main class="table">
            <section class="table__header">
                <h1>Alumno 1</h1>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Materia </th>
                            <th> 1° parcial </th>
                            <th> 2° parcial </th>
                            <th> 1° cuatrimestre </th>
                            <th> 1° parcial </th>
                            <th> 2° parcial </th>
                            <th> Nota Final </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Matemática </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Historia </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Geografia </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Inglés </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Tecnologia </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Biologia </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Quimica </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Programación </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Hardware </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="materia_nombre"> Software </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                            <td> N </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </main>
    </div>
    <div class="alumno2">
        <main class="table"></main>
        <section class="table__header">
            <h1>Alumno 2</h1>
        </section>
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Materia </th>
                        <th> 1° parcial </th>
                        <th> 2° parcial </th>
                        <th> 1° cuatrimestre </th>
                        <th> 1° parcial </th>
                        <th> 2° parcial </th>
                        <th> Nota Final </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Matemática </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Historia </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Geografia </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Inglés </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Tecnologia </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Biologia </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Quimica </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Programación </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Hardware </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td class="materia_nombre"> Software </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                        <td> N </td>
                    </tr>
                </tbody>
            </table>
        </section>
        </main>
    </div>
</body>

</html>